__pycache__/panagram_file_of_lists.cpython-36.pyc
__pycache__/panagram_list.cpython-36.pyc
refining_panagrams/__pycache__/one_final_file.cpython-36.pyc
refining_panagrams/__pycache__/panagram_file_of_lists.cpython-36.pyc
refining_panagrams/__pycache__/test_program.cpython-36.pyc
