__pycache__/panagram_file_of_lists.cpython-36.pyc
__pycache__/panagram_list.cpython-36.pyc
refining_panagrams/__pycache__/one_final_file.cpython-36.pyc
refining_panagrams/__pycache__/panagram_file_of_lists.cpython-36.pyc
refining_panagrams/__pycache__/test_program.cpython-36.pyc
__pycache__/all_words_beta_list.cpython-36.pyc
__pycache__/function_library.cpython-36.pyc
refining_panagrams/checked_panagrams_secondary.txt
refining_panagrams/__pycache__/checked_panagrams_main.cpython-36.pyc
__pycache__/all_words_gamma_list.cpython-36.pyc
refining_panagrams/__pycache__/all_words_gamma_list.cpython-36.pyc
__pycache__/savefile.cpython-36.pyc
__pycache__/test.cpython-36.pyc
test.json
